click==8.1.7
cycler==0.12.1
Flask==3.1.1
numpy==1.26.4
opencv-python==4.10.0.84
openpyxl==3.1.5
pandas==2.2.2
pillow==10.4.0
pygame==2.6.0
PyMsgBox==1.0.9
pymunk==6.11.1
requests==2.32.4
scikit-learn==1.5.1
sounddevice==0.4.7
tensorflow==2.10.0
zipp==3.6.0
